.s-sidebar {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 80px;
  box-shadow: 0px 9px 14px -6px rgba(148, 148, 148, 0.3);
}

.s-sidebar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.s-sidebar .logo {
  width: 64px;
  height: 64px;
}
